mixin contact-us()
  .contact-us()&attributes(attributes)
    .container
      .row
        .col-12
          .contact-us__picture-bg
          .contact-us__picture-bg2
    .container
      .row
        .col-4.offset-1
          .contact-us__content
            h3.contact-us__content__title= 'Центр компетенций предлагает тебе стать частью комманды'
            p.contact-us__content__dscr= 'Присоединись к комманде Центра, реализуй свои мечты в реальность. Для этого нужно разработать и приложить к письму по совершенствованию городских территорий Липецкой области.'
            p.contact-us__content__dscr= '*Просим обратить внимание, что кроме проекта важный пункт для принятия решения - это Ваше описание: почему именно Вы нам в комманду.'