.socials 
{
  display: inline-flex;

  &__item 
  {
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-position: center; 
    @include transitionM(background-color, 0.3s);

    &--phone 
    {
    	background: #8ba2b2 url("../img/pic_facebook.svg") no-repeat;
    	background-position: center;
    }
    
    &--up 
    {
    	background: #8ba2b2 url("../img/pic_instagram.svg") no-repeat;
    	background-position: center;
    }

    &:hover
    {
      cursor: pointer;
    	background-color: #a3bfd2;
      @include transitionM(background-color, 0.3s);
    }
  }

  span.phoneVal
  {
    font-size: 20px;
    color: $primary; 

    &:hover
    {
        text-decoration: underline;
    }
  }
}
