mixin circle-item(title, descr, imgSrc, href)
  .circle-item(href=href)&attributes(attributes)
    .circle-item__picture.mb-10.justify-content-center(style='background-image: url("'+imgSrc+'"); background-repeat: no-repeat;')
    .circle-item__content
      p.circle-item__content__title.mb-5= title
      p.circle-item__content__descr.mt-10= descr