mixin footer(modifier)
  .footer&attributes(attributes)
    .modal.fade(id="modal_AboutSite" tabindex="-1" role="dialog" aria-labelledby="modalLabel_AboutSite" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_AboutSite") Информация о разразработке сайта
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            p Сайт разработан ГОАОУ «Центр поддержки одаренных детей «Стратегия» по заказу Центр компетенций по вопросам городской среды Липецкой области.
            a(href='http://www.strategy48.ru/') www.strategy48.ru
          .modal-footer
            button.btn.btn-secondary.mx-auto(data-dismiss="modal") Закрыть

    .modal.fade(id="modal_SiteMap" tabindex="-1" role="dialog" aria-labelledby="modalLabel_SiteMap" aria-hidden="true")
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_SiteMap") Политика конфиденциальности
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            p Настоящая Политика конфиденциальности является составной частью Пользовательского соглашения Сайта и действует в отношении всей информации, в том числе персональных данных Пользователя, получаемых Администрацией Сайта в процессе работы Пользователя с Сайтом, исполнения Пользовательского соглашения и соглашений между Администрацией сайта и Пользователем. Использование Сайта означает безоговорочное согласие Пользователя с настоящей Политикой конфиденциальности и указанными в ней условиями обработки его персональных данных; в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта.
            p Перед использованием Сайта Пользователю необходимо внимательно изучить настоящую Политику конфиденциальности.
            h6 Персональные данные:
            p - Предоставление в любой форме (регистрация на Сайте, осуществление заказов, подписка на рекламные рассылки и тд.) своих персональных данных Администрации сайта, Пользователь выражает согласие на обработку персональных данных Администрацией сайта в соответствии с Федеральным законом “О персональных данных” от 27.07.2006 №152-ФЗ. 
            p - Обработка персональных данных осуществляется в целях исполнения Пользовательского соглашения и иных соглашений между Администрацией сайта и Пользователем.   
            p - Обработка персональных данных производится исключительно на территории Российской Федерации, с соблюдением действующего законодательства Российской Федерации. 
            p - Согласие Пользователя на обработку его персональных данных дается Администрации сайта на срок исполнения обязательств между Пользователем и Администрацией сайта в рамках Пользовательского соглашения или других соглашений между Пользователем и Администрацией сайта.
            p - В случае отзыва согласия на обработку персональных данных Пользователя, Пользователь уведомляет об этом Администрацию Сайта письменно или по электронной почте. После получения данного уведомления Администрация Сайта прекращает обработку персональных данных Пользователя и удаляет. 
            p - Сайт не имеет статуса оператора персональных данных. Персональные данные Пользователя не передаются каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящей Политикой конфиденциальности.
    .modal.fade(id="modal_UserAmnt" tabindex="-1" role="dialog" aria-labelledby="modalLabel_UserAmnt" aria-hidden="true")
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_UserAmnt") Пользовательское соглашение
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            p Настоящее пользовательское соглашение (далее - «Соглашение») регулирует порядок работы настоящего сайта (далее - «Сайт»), определяет условия использования материалов и сервисов Сайта. Администратор Сайта указывает информацию о себе, а также, контактные данные для обратной связи на Сайте. Настоящее Соглашение является публичной офертой в соответствии с действующим законодательством Российской Федерации. Совершение конклюдентных действий физическими, либо юридическими лицами (далее - «Пользователь»), направленных на использование Сайта считается безусловным принятием (акцептом) данного Соглашения. Настоящим Пользователь подтверждает, что акцепт Соглашения равносилен подписанию и заключению Соглашения на условиях, изложенных в настоящем Соглашении.
            h6 Условия использования сайта:
            p - Использование любых материалов и сервисов Сайта регулируется нормами действующего законодательства Российской Федерации. Материалы и сервисы Сайта предназначены исключительно для использования в законных целях.
            p - Пользователь вправе по своему усмотрению знакомиться с материалами сайта и сервисами Сайта.
            p - Пользователь соглашается использовать Сайт, не нарушая имущественных и/или неимущественных прав третьих лиц, а равно запретов и ограничений, установле­­­­­­­­­­нных применимым правом, включая без ограничения: авторские и смежные права, права на товарные знаки, знаки обслуживания и наименования мест происхождения товаров, права на промышленные образцы, права использовать изображения людей, а также любых действий, которые приводят или могут привести к нарушению нормальной работы Сайта и сервисов Сайта, в частности используя программы для вмешательства или попытки вмешательства в процесс нормального функционирования Сайта.
            p - Использование материалов Сайта без согласия правообладателя не допускается. Для правомерного использования материалов Сайта необходимо согласие Администратора сайта или правообладателя материалов.
            p - При наличии технической возможности Пользователь вправе оставлять комментарии и иные записи на Сайте. Пользователь гарантирует, что комментарии или иные записи не нарушают применимого законодательства, не содержат материалов незаконного, непристойного, клеветнического, дискредитирующего, угрожающего, порнографического, враждебного характера, а также содержащих домогательства и признаки расовой или этнической дискриминации, призывающих к совершению действий, которые могут быть квалифицированы как уголовные преступления, равно как и считаться недопустимыми по иным причинам, материалов, пропагандирующих культ насилия и жестокости, материалов, содержащих нецензурную брань. Администрация Сайта не обязуется проводить предварительную модерацию материалов и записей на Сайте Пользователями. За комментариии записи на Сайте оставленные Пользователем, Пользователь несет ответственность самостоятельно и в полном объеме.
            p - Администратор Сайта не несет ответственности за посещение и использование Пользователем внешних ресурсов, ссылки на которые могут содержаться на Сайте, Пользователь переходит по ссылкам содержащимся на Сайте на внешние ресурсы, по своему усмотрению на свой страх и риск.
            p - Пользователь согласен с тем, что Администрация Сайта не несет ответственности перед Пользователем в связи с любыми возможными или возникшими потерями или убытками, связанными с любым содержанием Сайта, товарами или услугами, доступными на Сайте или полученными через внешние сайты или ресурсы, либо иные контакты Пользователя, в которые он вступил, используя размещенную на Сайте информацию или ссылки навнешние ресурсы.
            p - Предоставление в любой форме (регистрация на Сайте, осуществление заказов, подписка на рекламныерассылки итд.) своих персональных данных Администрации сайта, Пользователь выражает согласие на обработку персональных данных Администрацией сайта в соответствии с Федеральным законом “О персональных данных” от 27.07.2006№152-ФЗ. Обработка персональных данных Пользователя регулируется действующим законодательством Российской Федерации и Политикой конфиденциальности Сайта.
            p - Администратор Сайта вправе в любое время в одностороннем порядке, без каких либо уведомлений Пользователя, изменять содержимое Сайта, а также изменять условия настоящего Соглашения. Такие изменения вступают в силу с момента размещения новой версии Соглашения на данной странице. Актуальная версия Соглашения всегда расположена на данной странице. Для избежания споров по поводу изменения Соглашения Администратор Сайта рекомендует периодически ознакамливаться с содержимым Соглашения расположенного на данной странице. При несогласии Пользователя с внесенными изменениями он обязан отказаться от использования Сайта.
            p - Администратор Сайта вправе в одностороннем порядке ограничивать доступ Пользователя на Сайт, если будет обоснованно считать, что Пользователь ведет неправомерную деятельность. Кроме того, администратор вправе удалять материалы Пользователей по требованию уполномоченных органов государственной власти или заинтересованных лиц в случае, если данные материалы нарушают применимое законодательство или права третьих лиц.
            p - Администратор Сайта и Пользователь несут ответственность за неисполнение или ненадлежащее исполнение своих обязательств в соответствии с Соглашением и действующим законодательством Российской Федерации. Администратор Сайта не несет ответственность за технические перебои в работе Сайта, вместе с тем Администратор Сайта обязуется принимать все разумные меры для предотвращения таких перебоев.
            p - Все возможные споры, вытекающие из настоящего Соглашения или связанные с ним, подлежат разрешению в соответствии с действующим законодательством Российской Федерации.
            p - Все данные, размещенные или размещаемые на настоящем Сайте, находятся на оборудовании находящемся на территории Российской Федерации.
            p - Администратор вправе прекращать работу Сайта, а равно частично или полностью прекращать доступ к сайту до завершения необходимого технического обслуживания и (или) модернизации Сайта.
            p - Совершая действия по принятию настоящего Соглашения (оферты), Пользователь гарантирует, что ознакомлен, соглашается, полностью и безоговорочно принимает все условия Соглашения в целом, обязуется их соблюдать. 
    //.modal.fade(id="modal_AboutCo" tabindex="-1" role="dialog" aria-labelledby="modalLabel_AboutCo" aria-hidden="true")
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_AboutCo") Контактная информация
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            h6 Email:
            p center-competence.lipetsk@mail.ru 
            h6 Юридический адрес:
            p Российская Федерация, 398017, г. Липецк, ул. Осипенко, д. 12
            h6 Режим работы:  
            p вторник-четверг: 8:00 - 17:00; пятница: 8:00 - 16:00; перерыв: 12.00 - 12:48 
            h6 Руководитель:
            p Гладких Ольга Николаевна
            h6 Контактные телефоны:
            p +7(4742) 43-01-82
    .modal.fade(id="modal_ContactUs" tabindex="-1" role="dialog" aria-labelledby="modalLabel_ContactUs" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_ContactUs" style="color: #0e527f;") Напишите нам
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            .col-xl-4.col-sm-6.offset-xl-4.offset-sm-3
              form(action="#", method="POST").d-flex.flex-column.align-items-center.mt-10
                input.input(type="text", placeholder="Имя")
                input.input(type="email", placeholder="Email").mt-20
                input.input(type="text", placeholder="Ссылка на проект (облачный ресурс, прямая ссылка)").mt-20
                textarea.input.input--textarea(placeholder="Сообщение").mt-20
                .d-flex.justify-content-center.mt-30
                  input.btn.mb-15(type="submit", value="Отправить")
    .container-fluid
      .row
        .col-12
          .footer__top.mx-auto
            nav.footer__sitemap
              a.footer__link(href="#" data-target="#modal_SiteMap" data-toggle="modal") Политика конфиденциальности
              a.footer__link(href="#" data-target="#modal_AboutSite" data-toggle="modal") Сайт-инфо
              a.footer__link(href="#" data-target="#modal_UserAmnt" data-toggle="modal") Пользовательское соглашение
            +btn-circle("background-image: url(/img/pic_up.svg);", "btn_toTop").mt-20.mr-5(id="btn_toTop")
          span.footer__copyright.mx-auto  © 2019 Центр компетенций по вопросам городской среды Липецкой области
