mixin footer(modifier)
  .footer&attributes(attributes)
    .modal.fade(id="modal_AboutSite" tabindex="-1" role="dialog" aria-labelledby="modalLabel_AboutSite" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_AboutSite") Информация о разразработке сайта
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            p Сайт разработан ГОАОУ «Центр поддержки одаренных детей «Стратегия» по заказу Центр компетенций по вопросам городской среды Липецкой области.
            a(href='http://www.strategy48.ru/') www.strategy48.ru
          .modal-footer
            button.btn.btn-secondary.mx-auto(data-dismiss="modal") Закрыть

    .modal.fade(id="modal_SiteMap" tabindex="-1" role="dialog" aria-labelledby="modalLabel_SiteMap" aria-hidden="true")
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_SiteMap") Политика конфиденциальности
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            p Настоящая Политика конфиденциальности является составной частью Пользовательского соглашения Сайта и действует в отношении всей информации, в том числе персональных данных Пользователя, получаемых Администрацией Сайта в процессе работы Пользователя с Сайтом, исполнения Пользовательского соглашения и соглашений между Администрацией сайта и Пользователем. Использование Сайта означает безоговорочное согласие Пользователя с настоящей Политикой конфиденциальности и указанными в ней условиями обработки его персональных данных; в случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта.
            p Перед использованием Сайта Пользователю необходимо внимательно изучить настоящую Политику конфиденциальности.
            h6 Персональные данные:
            p Предоставление в любой форме (регистрация на Сайте, осуществление заказов, подписка на рекламные рассылки и тд.) своих персональных данных Администрации сайта, Пользователь выражает согласие на обработку персональных данных Администрацией сайта в соответствии с Федеральным законом “О персональных данных” от 27.07.2006 №152-ФЗ. 
            p Обработка персональных данных осуществляется в целях исполнения Пользовательского соглашения и иных соглашений между Администрацией сайта и Пользователем.   
            p Обработка персональных данных производится исключительно на территории Российской Федерации, с соблюдением действующего законодательства Российской Федерации. 
            p Согласие Пользователя на обработку его персональных данных дается Администрации сайта на срок исполнения обязательств между Пользователем и Администрацией сайта в рамках Пользовательского соглашения или других соглашений между Пользователем и Администрацией сайта.
            p В случае отзыва согласия на обработку персональных данных Пользователя, Пользователь уведомляет об этом Администрацию Сайта письменно или по электронной почте. После получения данного уведомления Администрация Сайта прекращает обработку персональных данных Пользователя и удаляет. 
            p Сайт не имеет статуса оператора персональных данных. Персональные данные Пользователя не передаются каким-либо третьим лицам, за исключением случаев, прямо предусмотренных настоящей Политикой конфиденциальности.
    .modal.fade(id="modal_AboutCo" tabindex="-1" role="dialog" aria-labelledby="modalLabel_AboutCo" aria-hidden="true")
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_AboutCo") Контактная информация
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            h6 Email:
            p center-competence.lipetsk@mail.ru 
            h6 Юридический адрес:
            p Российская Федерация, 398017, г. Липецк, ул. Осипенко, д. 12
            h6 Режим работы:  
            p вторник-четверг: 8:00 - 17:00; пятница: 8:00 - 16:00; перерыв: 12.00 - 12:48 
            h6 Руководитель:
            p Гладких Ольга Николаевна
            h6 Контактные телефоны:
            p +7(4742) 43-01-82
    .modal.fade(id="modal_ContactUs" tabindex="-1" role="dialog" aria-labelledby="modalLabel_ContactUs" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_ContactUs" style="color: #0e527f;") Напишите нам
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            .col-xl-4.col-sm-6.offset-xl-4.offset-sm-3
              form(action="#", method="POST").d-flex.flex-column.align-items-center.mt-10
                input.input(type="text", placeholder="Имя")
                input.input(type="email", placeholder="Email").mt-20
                input.input(type="text", placeholder="Ссылка на проект (облачный ресурс, прямая ссылка)").mt-20
                textarea.input.input--textarea(placeholder="Сообщение").mt-20
                .d-flex.justify-content-center.mt-30
                  input.btn.mb-15(type="submit", value="Отправить")
    .container-fluid
      .row
        .col-12
          .footer__top.mx-auto
            nav.footer__sitemap
              a.footer__link(href="#" data-target="#modal_SiteMap" data-toggle="modal") Политика конфиденциальности
              a.footer__link(href="#" data-target="#modal_AboutSite" data-toggle="modal") Сайт-инфо
              a.footer__link(href="#" data-target="#modal_AboutCo" data-toggle="modal") Контактная информация
            +btn-circle("background-image: url(/img/pic_up.svg);", "btn_toTop").mt-20.mr-5(id="btn_toTop")
          span.footer__copyright.mx-auto  © 2019 Центр компетенций по вопросам городской среды Липецкой области
