mixin footer(modifier)
  .footer&attributes(attributes)
    .modal.fade(id="modal_AboutSite" tabindex="-1" role="dialog" aria-labelledby="modalLabel_AboutSite" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_AboutSite") Информация о разразработке сайта
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            p Сайт разработан ГОАОУ «Центр поддержки одаренных детей «Стратегия» по заказу Центр компетенций по вопросам городской среды Липецкой области.
            a(href='http://www.strategy48.ru/') www.strategy48.ru
          .modal-footer
            button.btn.btn-secondary.mx-auto(data-dismiss="modal") Закрыть
    .modal.fade(id="modal_SiteMap" tabindex="-1" role="dialog" aria-labelledby="modalLabel_SiteMap" aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_SiteMap") Карта сайта
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            .list-group
              a.list-group-item.list-group-item-action(href="index.html") Главная
              a.list-group-item.list-group-item-action(href="documents.html") Документы
              a.list-group-item.list-group-item-action(href="galery.html") Галерея
              a.list-group-item.list-group-item-action(href="contact.html") Контакты
              a.list-group-item.list-group-item-action(href="apartament.html") Квартиры
    .modal.fade(id="modal_AboutCo" tabindex="-1" role="dialog" aria-labelledby="modalLabel_AboutCo" aria-hidden="true")
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_AboutCo") О Центре
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            h6 Email:
            p center-competence.lipetsk@mail.ru 
            h6 Юридический адрес:
            p Российская Федерация, 398017, г. Липецк, ул. Осипенко, д. 12
            h6 Режим работы:  
            p вторник-четверг: 8:00 - 17:00; пятница: 8:00 - 16:00; перерыв: 12.00 - 12:48 
            h6 Руководитель:
            p Гладких Ольга Николаевна
            h6 Контактные телефоны:
            p +7(4742) 43-01-82
    .modal.fade(id="modal_ContactUs" tabindex="-1" role="dialog" aria-labelledby="modalLabel_ContactUs" aria-hidden="true")
      .modal-dialog.modal-lg(role="document")
        .modal-content
          .modal-header
            h5.modal-title(id="modalLabel_ContactUs" style="color: #0e527f; text-align: center;") Напишите нам
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          .modal-body
            .col-xl-4.col-sm-6.offset-xl-4.offset-sm-3
              form(action="#", method="POST").d-flex.flex-column.align-items-center.mt-10
                input.input(type="text", placeholder="Имя")
                input.input(type="email", placeholder="Email").mt-20
                input.input(type="text", placeholder="Ссылка на проект").mt-20
                textarea.input.input--textarea(placeholder="Сообщение").mt-20
                .d-flex.justify-content-center.mt-30
                  input.btn.mb-15(type="submit", value="Отправить")
    .container-fluid
      .row
        .col-12
          .footer__top.mx-auto
            nav.footer__sitemap
              a.footer__link(href="#" data-target="#modal_SiteMap" data-toggle="modal") Карта сайта
              a.footer__link(href="#" data-target="#modal_AboutSite" data-toggle="modal") Сайт-инфо
              a.footer__link(href="#" data-target="#modal_AboutCo" data-toggle="modal") Контактная информация
            +socials(class="mt-20 mr-5")
          span.footer__copyright.mx-auto  © 2019 Центр компетенций по вопросам городской среды Липецкой области
