extends ../templates/template.pug
block content
  +header
  +main-menu
  +front
  .container.mt-60
    .row.d-flex
      .col-lg-4.col-sm-6.d-flex.justify-content-center.mb-30
        +item('Елена Бадулина посетила с. Донское', 'В выездном совещании также приняли участие глава Задонского района Алексей Щедров, глава сельского поселения Донской сельсовет ...', '01.09.2019', '#', 'img/receipt.svg', "background-image: url(../img/1_1644.jpg); background-size: cover;")
      .col-lg-4.col-sm-6.d-flex.justify-content-center.mb-30
        +item('Рабочая встреча по благоустройству территорий', 'В региональном управлении жилищно-коммунального хозяйства состоялась рабочая встреча руководителя коммунального отдела Ирины Дьяковой ...', '29.08.2019', '#', 'img/bookmark-alt.svg', "background-image: url(../img/1_1635.jpg); background-size: cover;")
      .col-lg-4.col-sm-6.d-flex.justify-content-center.mb-30
        +item('Заседание по федеральному проекту «Формирование комфортной городской среды»', 'Елена Бадулина выступила докладчиком по теме благоустройства Липецкой области. В ходе ...', '24.08.2019', '#', 'img/home.svg', "background-image: url(../img/1_1639.jpg); background-size: cover;")
      .col-lg-4.col-sm-6.d-sm-flex.d-none.justify-content-center
        +item('Выездное совещание по благоустройству в г. Елец', 'В г. Елец состоялось выездное совещание с главой города Сергеем Пановым, главным архитектором области Сергеем Анохиным, руководителем...', '01.08.2019', '#', 'img/ruler-pencil.svg', "background-image: url(../img/1_1645.png); background-size: cover;")
      .col-lg-4.col-sm-6.d-sm-flex.d-none.justify-content-center
        +item('Создан Центр компетенций по благоустройству', 'С целью реализации регионального проекта «Формирование комфортной городской среды» на территории Липецкой области на базе ГОАОУ ...', '01.07.2019', '#', 'img/write.svg', "background-image: url(../img/1_1595.jpg); background-size: cover;")
      .col-lg-4.col-sm-6.d-sm-flex.d-none.justify-content-center
        +item('Заголовок новости', 'Краткое содержание новости, со ссылкой на детализацию при клике', '01.08.2019', '#', 'img/key.svg', "background-image: url(../img/item.jpg); background-size: cover;")
  .container
    .row
      .col-2.offset-10
        a(href="#")
          h5.mt-20.text-center Все новости >>
  .container
    .row
      .col-12
        a(href="#")
          h2.mt-70.text-center Задачи
    .row.mt-10
      .col-lg-4.col-sm-6
        +picture("img/IMG_20180927_113750.jpg", "background-image: url(../img/IMG_MIN_20180927_113750.jpg);")
      .col-lg-4.col-sm-6.d-none.d-sm-block
        +picture("img/IMG_20180917_103424.jpg", "background-image: url(../img/IMG_MIN_20180917_103424.jpg);")
      .col-lg-4.col-sm-6.d-none.d-lg-block
        +picture("img/IMG_20180927_113737.jpg", "background-image: url(../img/IMG_MIN_20180927_113737.jpg);")
  .container-fluid.mb-100
    .row
      .col-12
        h2.mt-70.text-center Напишите нам
      .col-xl-4.col-sm-6.offset-xl-4.offset-sm-3
        form(action="#", method="POST").d-flex.flex-column.align-items-center.mt-10
          input.input(type="text", placeholder="Имя")
          input.input(type="email", placeholder="Email").mt-20
          textarea.input.input--textarea(placeholder="Сообщение").mt-20
          .d-flex.justify-content-center.mt-30
            input.btn(type="submit", value="Отправить")
  +footer