.header 
{

  &__content 
  {

    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 400px;
    max-width: 1366px;
    position: relative;
    flex-direction: column;
    /* компенсация отступов сетки bootstrap  */
	  /*margin-right: -15px;  
	  margin-left: -15px;*/
    background-color: green;
    
    background-color: #fff;
    
    &__logo
    {
		  /*Стили в блоке logo*/
      
      /* отступы */
      margin-right: 15px;  
      margin-left: 15px;

      min-width: 500px;
      min-height: 209px;
      background: rgba(250,250,250, 0) url("../img/header_logo.png") no-repeat;
      background-size: 100% 100%;
      /*@include media-breakpoint-down(lg) 
      { 
        margin-left: 0px;
      }*/
      @media all and (max-width: 1400px)
      {
        
      }
      @media all and (max-width:650px)
      {
        
      }

    }

    &__title-up
    {
      color: #0e527f;
      font-size: 24px;

      text-align: center;
      margin-bottom: 0px;
    }

    &__title-bottom
    {
      color: #0e527f;
      font-size: 18px;
      text-align: center;
      /*background-color: red;*/
      max-width: 350px;
      min-height: 80px;
      margin-bottom: 0px;
    }

   }
}
