mixin header(modifier)
  .header&attributes(attributes)
    .header
    .container-fluid
      .row
        .col-12
          .header__content.mx-auto
            .header__content__logo.mt-30
            p.header__content__title-up.mt-15 ЦЕНТР КОМПЕТЕНЦИЙ
            p.header__content__title-bottom.mt-5 по вопросам городской среды Липецкой области
